.movies-card {
  list-style: none;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;;
}

.movies-card__image {
  width: 100%;
}

.movies-card__info {
  margin-top: 14px;
}

.movies-card__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movies-card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.movies-card__button {

}

.movies-card__line {
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin: 25px 0 6px;
}

.movies-card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
}

.movies-card__like {
  width: 24px;
  height: 24px;
  background: #f4f4f4;
  border: none;
  border-radius: 36px;
  background-image: url('../../images/like.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 8.5px;
  cursor: pointer;
}

.movies-card__like_active {
  background-image: url('../../images/like-active.svg');
}
