.portfolio {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.portfolio__content {
  margin: 0 70px 125px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0 0 50px;
}

.portfolio__items {
  margin: 0;
  padding: 0;
}

.portfolio__item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
}

.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__item::after {
  content: '';
  position: absolute;
  top: 69px;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

.portfolio__item:last-child::after {
  content: '';
  width: 100%;
  height: 0px;
  background-color: #e6e6e6;
}

.portfolio__project {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -1.1px
}

.portfolio__link {
  background-image: url('../../images/arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 50px;
  transition: opacity .3s ease;
}

.portfolio__link:hover {
  opacity: .7;
}

@media screen and (max-width: 1024px) {
  .portfolio__content {
    margin: 0 50px 124px;
  }

  .portfolio__project {
    font-weight: 400;
    font-size: 28px;
    letter-spacing: -1.12px
  }
}

@media screen and (max-width: 512px) {
  .portfolio__content {
    margin: 0 14px 105px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 40px;
  }

  .portfolio__item::after {
    top: 47px;
  }

  .portfolio__project {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }

  .portfolio__link {
    width: 18px;
    height: 28px;
    background-size: 12px 12px;
  }
}
