.account {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  align-items: center;
}

.account__text {
  margin-right: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.account__link {
  text-decoration: none;
  background: #F4F4F4;
  background-image: url('../../images/button-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10.383px 10.669px;
  border-radius: 6px;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  transition: opacity .3s ease;
}

.account__link:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .account {
    justify-content: center;
  }
}
