.navigation {
  font-family: 'Inter', Arial, sans-serif;
}

.navigation__menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navigation__menu_sidebar_active {
  text-align: center;
}

.navigation__links {
  list-style: none;
  margin-right: 16px;
}

.navigation__links:last-child {
  margin-right: 0;
}

.navigation__link {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  transition: opacity .3s ease;
}

.navigation__link:hover {
  opacity: .7;
}

.navigation__link_active {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .navigation__links {
    margin: 0 0 28px;
  }

  .navigation__links:last-child {
    margin: 0;
  }

  .navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .navigation__menu {
    flex-direction: column;
  }

  .navigation__menu_sidebar_active {
    margin-top: 26px;
  }

  .navigation__link_active {
    padding-bottom: 4px;
    border-bottom: 2px solid #000;
  }
}

@media screen and (max-width: 512px) {
  .navigation__links {
    margin: 0 0 25px;
  }

  .navigation__link_active {
    padding-bottom: 7px;
    border-bottom: 2px solid #000;
  }
}
