.navigation {
  font-family: 'Inter', Arial, sans-serif;
  margin-left: 44px;
}

.navigation__menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navigation__links {
  list-style: none;
  margin-right: 16px;
}

.navigation__links:last-child {
  margin-right: 0;
}

.navigation__link {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  transition: opacity .3s ease;
}

.navigation__link:hover {
  opacity: .7;
}

.navigation__link_active {
  font-weight: 500;
}
