.saved-movies {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  background-color: #fafafa;
}

.saved-movies__content {
  margin: 0 70px;
}

.saved-movies__line {
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin-bottom: 10px;
}
