.header {
  font-family: 'Inter', Arial, san-serif;
  background-color: #DDDEE3;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.header__content {
  margin: 0px 70px;
  padding-top: 18px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__items {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__item {
  list-style: none;
  margin-right: 30px;
  font-size: 12px;
  line-height: 16px;
}

.header__item:last-child {
  margin-right: 0px;
}

.header__register-link {
  text-decoration: none;
  color: #000;
}

.header__login-link {
  text-decoration: none;
}

.header__button {
  width: 76px;
  height: 32px;
  color: #fff;
  background-color: #3456F3;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 3px;
}
