.register {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  font-family: 'Inter', Arial, sans-serif;
}

.register__content {
  max-width: 396px;
  width: 100%;
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 0;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}

.register__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin-bottom: 20px;
}

.register__input {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-top: 10px;
  background: #F4F4F4;
  border-radius: 8px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.register__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  width: 100%;
  border: none;
  background: #3456F3;
  border-radius: 3px;
  height: 45px;
  margin-top: 71px;
  padding: 0;
}

.register__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
  margin: 16px 0 0;
}

.register__signin {
  color: #3456F3;
  text-decoration: none;
}
