.login {
  font-family: 'Inter', Arial, sans-serif;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  flex: 1;
}

.login__content {
  padding: 70px 30px 75px;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 37px 0 0;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}

.login__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin-bottom: 20px;
}

.login__input {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-top: 10px;
  background: #F4F4F4;
  border-radius: 8px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  outline: none;
}

.login__input:focus {
  outline: 2px solid #3456F3;
}

.login__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  width: 100%;
  border: none;
  background: #3456F3;
  border-radius: 3px;
  height: 45px;
  margin-top: 159px;
  padding: 0;
  transition: opacity .3s ease;
  cursor: pointer;
}

.login__button:hover {
  opacity: .8;
}

.login__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
  margin: 16px 0 0;
}

.login__signup {
  color: #3456F3;
  text-decoration: none;
  transition: opacity .3s ease;
}

.login__signup:hover {
  opacity: .7;
}

@media screen and (max-width: 512px) {
  .login__content {
    margin: 0 30px;
    box-sizing: border-box;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login__title {
    margin: 50px 0 0;
  }

  .login__form {
    margin-top: 80px;
  }

  .login__button {
    font-size: 12px;
    line-height: 15px;
    margin-top: 247px;
  }

  .login__info {
    font-size: 12px;
    line-height: 15px;
    margin: 14px 0 0;
  }
}
